*{
    padding: 0;
    box-sizing: border-box;
}
#main{
    width: 70%;
    height: 500px; 
    margin: auto;
    margin-top: 100px;
   box-shadow: 0px 0px 0px 1px rgba(0, 0, 0,0.95);
  
}
img{
    width: 100%;
    height: 100%;
    
}
.btn{
    text-align: center;
    margin-top: 15px;
}
.btn button{
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    background-color: red;
    border-radius: 10px;
    cursor:pointer;
    border: none;
}
.btn button:hover{
    border-color: white;
    background-color: rgb(227, 186, 186);
}